

<% content_for :scripts do %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry".html_safe, "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js".html_safe, "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js".html_safe %>
<% end %>

<div class="map_wide_container">
  <div class="map_wide_inner">
    <div id="map" style="width:100%;height:100%;" data-data='<%=raw @hash.to_json %>'></div>
  </div>
</div>
