<% if logbook %>
  created <%= link_to "#{logbook.user.desa.name} - #{logbook.logbook_date}", logbook %>
  <p><span class="label label-info"><i class='icon-cloud-upload icon-2x'></i></span></p>
<% else %>
  uploaded a logbook that has since been deleted
<% end %>