<% if logbook %>
  created <%= link_to "#{logbook.user.desa.name} - #{logbook.logbook_date}", logbook %>
  <br />
  <span class="fa-stack fa-lg">
    <i class="fa fa-square fa-stack-2x text-info"></i>
    <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  uploaded a logbook that has since been deleted
<% end %>