<% if logbook %>
  marked a logbook as pending : <%= link_to "#{logbook.user.desa.name} - #{logbook.logbook_date}", logbook %>
  <p><span class="label label-warning"><i class='icon-warning-sign icon-2x'></i></span></p>
<% else %>
  marked as pending a logbook that has since been deleted
<% end %>