<% if logbook %>
  rejected a logbook : <%= link_to "#{logbook.user.desa.name} - #{logbook.logbook_date}", logbook %>
  <br />
  <span class="fa-stack fa-lg">
    <i class="fa fa-square fa-stack-2x text-danger"></i>
    <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  rejected a logbook that has since been deleted
<% end %>