<% if logbook %>
  rejected a logbook : <%= link_to "#{logbook.user.desa.name} - #{logbook.logbook_date}", logbook %>
  <p><span class="label label-important"><i class='icon-remove-sign icon-2x'></i></span></p>
<% else %>
  rejected a logbook that has since been deleted
<% end %>