<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Excel spreadsheet upload success</h1>
    <p>
      Upload of file <%= @excel_file.filename %> successful.<br/>
    </p>
  </body>
</html>