<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>APPROVAL REQUEST :: New Team Member</h1>

    <h3><%= @admin.name %></h3>
    
    <p>A new team member has signed up on FishNet.</p>

    <p>Please login and approve their account.</p>

    <p><%= link_to "LOG IN", @url %></p>

  </body>
</html>