<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>I-FISH REGISTRATION APPROVED</h1>

    <p><%= @admin.name %>,</p>
    
    <p>Your I-Fish account has been approved.</p>

    <p>You can now <%= link_to "log in", @url %> to I-Fish.</p>

  </body>
</html>