<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>FishPanel APPROVAL REQUEST</h1>
    <h3>New Team Member</h3>
    <br />
    <h5><%= @admin.name %> (<%= @admin.email %>)</h5>
    
    <p>A new team member has signed up on FishPanel.</p>

    <p>Please login and approve their account.</p>

    <p><%= link_to "LOG IN", @url %></p>

  </body>
</html>