<% title "Admins" %>

<%= render partial: "shared/api_links" %>
<% begin %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>

  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.email %></td>
      <td><%= admin.name %></td>
    </tr>
  <% end %>
</table>

<br />
<% rescue %>

<% end %>