<div class="form-group row">
  <div class="col-xs-6">
    <%= f.association :fish, label_method: :code, value_method: :id, class: 'form-control', wrapper: false, label: false %>
  </div>
  <div class="col-xs-6">
    <%= f.input_field :quantity, class: 'form-control', placeholder: UnloadingCatch.human_attribute_name(:quantity) %>
  </div>
</div>