<div class="btn-group pull-right">
	<% if defined?(files) && files == true %>
		<%= link_to excel_image, "#", class: "btn btn-mini", title: "Download to Spreadsheet" %>
	  <%= link_to pdf_image, "#", class: "btn btn-mini", title: "Download to PDF" %>
	<% end %>
  <%= link_to "JSON", current_url(:format=>:json), class:"btn btn-mini", title: "Format as JSON" %>
  <%= link_to "XML", current_url(:format=>:xml), class:"btn btn-mini", title: "Format as XML" %>
</div>
<br />
<br />