<ul>
	<li id="pagination_previous">
		<%= link_to_previous_page @activities, '<< Previous', remote: true %>
	</li>
	<li id="pagination_next">
		<%= link_to_next_page @activities, 'Next >>', remote: true %>
	</li>
</ul>