<div id="graph_options">
  <select id="cpe_month_from">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <select id="cpe_year_from">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012" selected="selected">2012</option>
  </select>
  <select id="cpe_month_to">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3" selected="selected">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <select id="cpe_year_to">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013" selected="selected">2013</option>
  </select>
  <select id="cpe_fishery">
    <% @fisheries.each do |fishery| %>
      <option value="<%= fishery.id %>"><%= fishery.name %></option>
    <% end %>
  </select>
  <button class="btn" id="cpe_btn_refresh">Refresh</button>
</div>

<div id="graph_catch_per_effort_container"></div>
<script type="text/javascript">
	function update_catch_effort(){
		console.log("Updating chart");
		params = {
			method: 'catch_per_effort',
      fishery_id: $('#cpe_fishery').val(),
			month_from: $('#cpe_month_from').val(),
			year_from: $('#cpe_year_from').val(),
			month_to: $('#cpe_month_to').val(),
			year_to: $('#cpe_year_to').val(),
		}

		$.get("/fishery_profile", params, function(data, textStatus, jqXHR){
			console.log(data);
			render_chart('graph_catch_per_effort_container','Catch per unit effort', 'Catch per unit effort over time', 'line', data.col_headers, data.month_counts);
		}, "json");
	};

	$(function () {
		// Event handlers
		$('#cpe_btn_refresh').click(function(){
			update_catch_effort();
		});

		// Load chart with default values
		update_catch_effort();
	});
</script>

<div id="graph_length_frequency_options">
  <select id="lf_month_from">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <select id="lf_year_from">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012" selected="selected">2012</option>
  </select>
  <select id="lf_month_to">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3" selected="selected">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <select id="lf_year_to">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013" selected="selected">2013</option>
  </select>
  <select id="lf_fishery">
    <% @fisheries.each do |fishery| %>
      <option value="<%= fishery.id %>"><%= fishery.name %></option>
    <% end %>
  </select>
  <button class="btn" id="btn_lf_refresh">Refresh</button>
</div>
<div id="graph_length_frequency_container"></div>
<script type="text/javascript">
	function update_length_frequency(){
		params = {
			method: 'length_frequency',
      fishery_id: $('#lf_fishery').val(),
      month_from: $('#lf_month_from').val(),
      year_from: $('#lf_year_from').val(),
      month_to: $('#lf_month_to').val(),
      year_to: $('#lf_year_to').val(),
		}
		$.get("/fishery_profile", params, function(data, textStatus, jqXHR){
			console.log(data);
			render_chart('graph_length_frequency_container', 'Length-frequency', 'Length', 'column', data.col_headers, data.length_counts);
		}, "json");
	};

	$(function () {
    // Event handlers
    $('#btn_lf_refresh').click(function(){
      update_length_frequency();
    });

		// Load chart with default values
		update_length_frequency();
	});
</script>