<% title "Import Data" %>

<div class='row'>
	<div class='col-xs-12 col-sm-6 col-sm-offset-3'>
		<%= link_to 'Import Unloadings', page_path( page: 'select_vessel', label: 'unloadings'), class: 'btn btn-default btn-block btn-lg' %>
		<%= link_to 'Import Bait Loadings', page_path( page: 'select_vessel', label: 'bait_loadings'), class: 'btn btn-default btn-block btn-lg' %>
    <%= link_to 'Import Vessels',page_path(page: 'select_company'), class: 'btn btn-default btn-block btn-lg' %>
	</div>
</div>
