<% title "FishStat" %>

<h1>I<small>kan</small></h1>
<h1>K<small>ami</small></h1>
<h1>A<small>nalisa</small></h1>
<h1>N<small>egara</small></h1>

<% for survey in @surveys %>
	<div class="well">
		<%= image_tag @currently_signed_in.avatar_url(:thumb), width: "50px", height: "50px" if @currently_signed_in.avatar? %>
		
		<%= survey.admin.name %> did a survey in <%= survey.desa.name %> for the <%= survey.fishery.name %> fishery.
		
	</div>
<% end %>