<% title "FishNet" %>
<div class="container">
	<div class="row-fluid">
		<div class="span6 offset3">
			<h5>Recent Activity</h5>

			
			<div id="surveys">
				<%= render @surveys %>
			</div>
			
			
			<div class="row">
				<div class="pull-right pagination">
					<%= render partial: 'home/pagination' %>
					
				</div>
				
			</div>
		</div>
		
	</div>
</div>