<div class="span2">
  <%= link_to supervisor_dashboard_index_path  do %>
  	<i class='icon-arrow-left'></i> Back to Dashboard 
  <% end %>
</div>
<div class="span1 offset2">
  <b>Approved:</b>
</div>
<div class="span1">
  <div class="controls toggle switch switch-large" data-toggleButton-style-enabled= "success" data-toggleButton-style-disabled="danger" data-toggleButton-label-enabled="YES" data-toggleButton-label-disabled="NO" >
  	<%= check_box_tag :approved, @logbook.id, @logbook.approved?, class: 'approve-toggle', data: { href: set_approved_logbook_path(@logbook) } %>
  </div>
</div>