<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">QR code</h3>
  </div>
  <div class="panel-body">
    <%= render_qr_code @vessel.ap2hi_ref %>
  </div>
</div>