<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Member Companies</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'company_list' %>
  </div>
</div>
