<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gears</h3>
  </div>
  <div class="panel-body">
    <% if can? :update, @fishery %>
      <%= form_tag [:add_used_gear, @fishery], class: "form", :remote=>true do %>
        <div class="input-group"> 
          <%= text_field_tag :get_gear, "", class: "form-control", placeholder: "Add a gear...", autocomplete: "off", data: { autocomplete_source: Gear.order(:alpha_code).map(&:alpha_code) } %>
          <div class="input-group-btn">
            <%= button_tag add_icon, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

    <% end %>
    <%= render partial: 'gear_list' %>
  </div>
</div>