development:
  aws:
    aws_access_key_id: ########
    aws_secret_access_key: ########
    directory: ########
staging:
  aws:
    aws_access_key_id: ########
    aws_secret_access_key: ########
    directory: ########
production:
  aws:
    aws_access_key_id: ########
    aws_secret_access_key: ########
    directory: ########