<p class="navbar-text">
  <%= link_to t("devise.signup"), "#modal_signup", data: { toggle: "modal", target: "#modal_signup" } %> | 
  <%= link_to t("devise.signin"), "#modal_signin", data: { toggle: "modal", target: "#modal_signin" } %>
</p>

