// Place all the styles related to the Desas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#desa_info {
  background: #F9F9F9;
  box-shadow: 0 0 12px rgba( 0, 0, 0, .3 );
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  top: 0; left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#desa_info li {
  position: relative;
}
