<% if survey %>
  uploaded a survey : <%= link_to "#{survey.desa.name} - #{survey.formatted_date}", survey %>
  <br />
  <span class="fa-stack fa-lg">
    <i class="fa fa-square fa-stack-2x text-info"></i>
    <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  uploaded a survey that has since been deleted
<% end %>