<% if survey %>
  marked a survey as pending : <%= link_to "#{survey.desa.name} - #{survey.formatted_date}", survey %>
  <br />
  <span class="fa-stack fa-lg">
    <i class="fa fa-square fa-stack-2x text-warning"></i>
    <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  marked as pending a survey that has since been deleted
<% end %>